.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36393f;
}

.login__form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 360px;
}
