.wrapper-input {
  display: flex;
  gap: 16px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
  color: #3b3b3b;
  height: 48px;
  border: 1px solid #e6e9ea;

  &--shadow {
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05),
      15px 15px 35px rgba(112, 124, 151, 0.05);
  }

  & > svg {
    color: #b4beca;
  }

  &--disabled {
    opacity: 0.5;

    & > div {
      pointer-events: none;
      cursor: default;
    }

    & input {
      pointer-events: none;
    }
  }
}

.input {
  background-color: #fff;
  outline: 0;
  border: none;
  width: 100%;
  color: #3b3b3b;
  font-size: 16px;

  &::placeholder {
    color: #b4beca;
  }
}

.wrapper-input__icon-container {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;

  &:active {
    opacity: 0.6;
  }

  & > svg {
    color: #fff;
  }
}
