.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.chat__messages {
  flex: 1;
  background-color: #f9fbfc;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;

  & > input {
    margin-top: auto;
    margin-bottom: 20px;
  }
}

.chat__header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #fff;

  & > button {
    background-color: transparent;
    border: none;

    & > svg {
      color: #3b3b3b;
    }
  }
}

.chat__messages__area {
  padding: 24px 12px;
  height: 100%;
  max-height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background: transparent;
    display: block;
    width: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #b5b5b5;
    border-radius: 9999px;
    border: 4px solid rgba(0, 0, 0, 0);
    min-height: 30px;
  }
}

.chat__messages__area__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 8px;

  & > p {
    color: #96989d;
  }

  & > div {
    height: 1px;
    width: 100%;
    background-color: #e6e9ea;
  }
}

@media (min-width: 960px) {
  .chat {
    flex-direction: row;
  }

  .chat__header {
    display: none;
  }
}
