.message {
  display: flex;
  gap: 10px;
}

.message__info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & > p {
    color: #fff;
  }
}

.message__info__user-name {
  font-weight: 600;
}

.message__system {
  color: #96989d;

  & > span:first-child {
    color: #fff;
  }
}
